%h1 Compassion and Justice
.subsection-navigation
  %a{:href => subsection_path(:section => "give", :subsection => "compassion_and_justice")} Compassion and Justice
  \/
  %a{:href => subsection_path(:section => "give", :subsection => "support_gscc")} Support GSCC

