%h1 Support GSCC
.subsection-navigation
  %a{:href => subsection_path(:section => "give", :subsection => "support_gscc")} Support GSCC
  \/
  %a{:href => subsection_path(:section => "give", :subsection => "compassion_and_justice")} Compassion and Justice

%p Thank you for supporting GSCC by giving financially. GSCC uses your gifts to build and serve the community in truth and love. Below describes the various ways you can give to GSCC.

%ol
  %li <b>Sunday Service Offering</b>
  Offering collection takes place as part of the Sunday Service at GSCC. You may attend the Sunday Service and give your check or cash offering during Sunday Service Offering.
  %li <b>Mail to Church</b>
  Send your check or cash offering to the GSCC mailbox: 940 S. Stelling Road, Cupertino, CA 95014
  %li <b>Automatic Bill Pay</b>
  Set up Automatic Bill Pay with your online banking system using the church address and phone number.
  %br 940 S. Stelling Road, Cupertino, CA 95014,  (408) 253-5152
  %li <b>PayPal</b>
  Use PayPal to transfer offering to GSCC. The GSCC account email is <b>support@gschristian.org</b>. Choose <b><i>"I'm sending money to family or friends"</i></b>.