#frontpage-promo
  %div{:style => 'background: #fff; height: 205px'} PROMO HERE

#large-unit
  #sunday-services.span-6
    %h3.pharkir
      Sunday services

    %p
      %strong English Service
      11:00 AM / Church Sanctuary
    %p
      %strong Mandarin Service
      11:00 AM / Fellowship Hall

    %a#new-callout.pharkir{:href => '#'}
      New?
      Find out more about our community!
  #plug-in.span-12.last
    %h3.pharkir
      Plug in

    %a{:href => '#'} New to faith
    %a{:href => '#'} Children&#8217s ministry
    %a{:href => '#'} Compassion
    %a{:href => '#'} Community groups
