%script{ :src =>"http://code.jquery.com/jquery-1.9.0.js"}
%script{ :src => "/javascripts/bootstrap.js"}
%script{ :src=> "/javascripts/bootstrap-carousel.js"}
%script{ :src=> "/javascripts/google_tracking.js"}
%script{:type => "text/javascript"}

  $(function() { $('#myCarousel').carousel({interval: 6000}); });

#frontpage-promo
  /%div{:style => 'background: #fff url(/images/promobanner_gs.jpg); height: 205px'} 
  #myCarousel{:class=>"carousel slide", :style=>'height:324px'}
    / Carousel items
    .carousel-inner
      .item.active
        %a{:href=>"/resources"}
          %img{:src=>"images/carousel/transformshine.jpg"}
        .carousel-caption
          %p
            %em "In the same way, let your light shine before others, so that they may see your good works and give glory to your Father who is in heaven."  Matthew 5:16
      .item
        %a{:href=>"/resources"}
          %img{:src=>"images/carousel/easterflyer_2015.jpg"}
        .carousel-caption
          %h4 Easter Service 2015
          %p
            Come join us for a special Easter service on April 5! Invite your friends and family!
          %p
            %em  "...and free those who all their lives were held in slavery by their fear of death" - Hebrews 2:15
      .item
        %a{:href=>"/events"}
          %img{:src=>"images/carousel/GraceFullRelationships_campfire.jpg"}
        .carousel-caption
          %h4 2015 Mount Hermon GSCC Retreat
          %p
            %em Join us as Pastor Friest speaks at our 2015 GSCC retreat on Grace-Full Relationships!
          
    / Carousel nav
    %a.carousel-control.left{ :href=>"#myCarousel","data-slide"=>"prev"} &lsaquo;
    %a.carousel-control.right{ :href=>"#myCarousel","data-slide"=>"next"} &rsaquo;
  / #carousel-indicator
  /   %ol.inline{:class=>"carousel-indicators", :style=>"background-color: #777"}
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"0", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"1", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"2"} +

#large-unit
  #sunday-services.span-6
    %h3.pharkir
      Sunday services


    %p
      %a{:href => "/connect#worship"} <strong>Sunday Service</strong>
      11:00 AM / Church Sanctuary
    %p
      %a{:href => "/connect#children"} <strong>Children's Program</strong>

      11:00 AM / Children's Room
    /%a#new-callout.pharkir{:href => 'http://www.facebook.com/gscommunity'}
    
    %p.span1{:style=>"font-size: 1.1em; padding-right:5px; color:#7777"}
      / #0abec7; padding-right: 5px;"}
      Become a fan on facebook
    %a.span1{:href => 'http://www.facebook.com/gscommunity', :style => "padding-top: 25px;"}
      %img{:src=>"images/fb_icon.jpg"}

  / #plug-in.span-11.last
  /   %h3.pharkir
  /     Plug in

  /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "student"), :id => 'plug-in-student'} 
  /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "young_adult"), :id => 'plug-in-young-adults'} 
  /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "family"), :id => 'plug-in-family'} 

  #map
    %a{:href => 'https://www.google.com/maps/place/940+S+Stelling+Rd,+Cupertino,+CA+95014/@37.3116495,-122.0410466,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb4ff0b476cff:0x8c0cc89286fa82ef?hl=en'}940 South Stelling Rd. Cupertino, CA 95014
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:200px;width:200px;"><div id="gmap_canvas" style="height:200px;width:200px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.map-embed.net" id="get-map-data">map-embed.net</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(37.3116495,-122.04104660000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(37.3116495, -122.04104660000002)});infowindow = new google.maps.InfoWindow({content:"<b>Good Shepherd Christian Community</b><br/>940 South Stelling Rd.<br/>95014 Cupertino" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

  #newsletter
    %a{:href => "GSCC Winter 2015 Newsletter.pdf"} Winter 2015 Newsletter is here!
