#frontpage-promo
  %div{:style => 'background: #fff url(/images/promobanner_gs.jpg); height: 205px'} 

#large-unit
  #sunday-services.span-6
    %h3.pharkir
      Sunday services


    %p
      %a{:href => "/connect#worship"} <strong>English Service</strong>
      11:00 AM / Church Sanctuary
    %p
      %a{:href => "/connect#children"} <strong>Children's Program</strong>
      11:00 AM / Children's Room

    %a#new-callout.pharkir{:href => 'http://www.facebook.com/gscommunity'}

  #plug-in.span-12.last
    %h3.pharkir
      Plug in

    %a{:href => subsection_path(:section => "plug-ins", :subsection => "student"), :id => 'plug-in-student'} 
    %a{:href => subsection_path(:section => "plug-ins", :subsection => "young_adult"), :id => 'plug-in-young-adults'} 
    %a{:href => subsection_path(:section => "plug-ins", :subsection => "family"), :id => 'plug-in-family'} 
    %a{:href => subsection_path(:section => "plug-ins", :subsection => "international"), :id => 'plug-in-international'} 
