%script{ :src =>"http://code.jquery.com/jquery-1.9.0.js"}
%script{ :src => "/javascripts/bootstrap.js"}
%script{ :src=> "/javascripts/bootstrap-carousel.js"}
%script{ :src=> "/javascripts/google_tracking.js"}
%script{:type => "text/javascript"}

  $(function() { $('#myCarousel').carousel({interval: 6000}); });

#frontpage-promo
  /%div{:style => 'background: #fff url(/images/promobanner_gs.jpg); height: 205px'} 
  #myCarousel{:class=>"carousel slide", :style=>'height:324px'}
    / Carousel items
    .carousel-inner
      .item.active
        %a{:href=>"/resources"}
          %img{:src=>"images/carousel/slide_1Peter2016.jpg"}
        .carousel-caption
          %h4 Sermon Series
          %p
            %em "But you are a chosen people, a royal priesthood, a holy nation, God’s special possession, that you may declare the praises of him who called you out of darkness into his wonderful light." - 1 Peter 2:9
      .item
        %a{:href=>"/resources"}
          %img{:src=>"images/carousel/thanksgiving2016.jpg"}
        .carousel-caption
          %h4 Thanksgiving Service
          %p Invite your friends and family for our Thanksgiving Service on November 20!
      / .item
      /   %a{:href=>"/connect"}
      /     %img{:src=>"images/carousel/slide_connect.JPG"}
      /   .carousel-caption
      /     %h4 Connect
      /     %p Find and join a small group!
          
    / Carousel nav
    %a.carousel-control.left{ :href=>"#myCarousel","data-slide"=>"prev"} &lsaquo;
    %a.carousel-control.right{ :href=>"#myCarousel","data-slide"=>"next"} &rsaquo;
  / #carousel-indicator
  /   %ol.inline{:class=>"carousel-indicators", :style=>"background-color: #777"}
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"0", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"1", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"2"} +

#large-unit{:style => "height: 720px; background: url(/images/large-unit-bkg_2016.jpg) no-repeat;"}
  #left-section{:style => "float:left; width:40%;"}
    #sunday-services.span-5{:style => "padding: 0px 10px 10px 10px; float:left;"}
      %p
        %a{:href => "/connect#worship"} <strong>Sunday Service</strong>
        11:00 AM / Church Sanctuary
      %p{:style => "padding-top: 10px;margin-top: 20px;"}
        %a{:href => "/connect#children"} <strong>Children's Program</strong>
        11:00 AM / Children's Room
      /%a#new-callout.pharkir{:href => 'http://www.facebook.com/gscommunity'}
    #facebook.span-5{:style => "float: left; clear: left; padding-top: 20px; color:#FFFFFF"}
      %p.span1{:style=>"font-size: 1.1em;padding-top: 10px;"}
        Become a fan on facebook
      %a.span1{:href => 'http://www.facebook.com/gscommunity', :style => "padding-top: 10px;"}
        %img{:src=>"images/fb_icon.jpg"}

    / #plug-in.span-11.last
    /   %h3.pharkir
    /     Plug in

    /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "student"), :id => 'plug-in-student'} 
    /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "young_adult"), :id => 'plug-in-young-adults'} 
    /   %a{:href => subsection_path(:section => "plug-ins", :subsection => "family"), :id => 'plug-in-family'} 
  #mid-section{:style => "float: left; width: 50%; padding-top: 25px;"}

    #address{:style => "float:left; width:50%; padding: 0 0 10 0; margin: 0 0 0 0;"}

      %a{:href => 'https://www.google.com/maps/place/940+S+Stelling+Rd,+Cupertino,+CA+95014/@37.3116495,-122.0410466,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb4ff0b476cff:0x8c0cc89286fa82ef?hl=en', :style => "display:inline;"}
        %strong
          Church Address: 
        %p
          940 South Stelling Rd. Cupertino, CA 95014
    #addressmap{:style => "float:left; width:50%;"}
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:150px;width:150px;"><div id="gmap_canvas" style="height:200px;width:200px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.map-embed.net" id="get-map-data">map-embed.net</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(37.3116495,-122.04104660000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(37.3116495, -122.04104660000002)});infowindow = new google.maps.InfoWindow({content:"<b>Good Shepherd Christian Community</b><br/>940 South Stelling Rd.<br/>95014 Cupertino" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    #prayer-scripture{:style => "padding-top: -30px; padding-right: 25px; float: left; clear: left;"}
      %h3{:style => "color: #9bda5e; padding-top: 25px; padding-right: 25px"}
        Prayer Scripture
      %p
        %strong{:style => "color: #fff;"}
          Psalm 29:1-2 New International Version (NIV)
      %p{:style => "color: #fff;"}
        1 Ascribe to the Lord, you heavenly beings,
        ascribe to the Lord glory and strength.
        2 Ascribe to the Lord the glory due his name;
        worship the Lord in the splendor of his[a] holiness.
        11 The Lord gives strength to his people;
        the Lord blesses his people with peace.


