%script{ :src =>"http://code.jquery.com/jquery-1.9.0.js"}
%script{ :src => "/javascripts/bootstrap.js"}
%script{ :src=> "/javascripts/bootstrap-carousel.js"}
%script{:type => "text/javascript"}
  $(function() { $('#myCarousel').carousel({interval: 6000}); });

#frontpage-promo
  /%div{:style => 'background: #fff url(/images/promobanner_gs.jpg); height: 205px'} 
  #myCarousel{:class=>"carousel slide", :style=>'height:324px'}
    / Carousel items
    .carousel-inner
      .item.active
        %a{:href=>"/resources"}
          %img{:src=>"images/carousel/slide_gospelseries.jpg"}
        .carousel-caption
          %h4 The Gospel and Gospel Living
          %p
            Sermon Series on Galations
          %p
            %em "[Christ] gave himself for our sins to rescue us from the present evil age, according to the will of our God and Father." Galations 1:4
      .item
        %a{:href=>"/connect"}
          %img{:src=>"images/carousel/slide_connect.JPG"}
        .carousel-caption
          %h4 Connect
          %p
            Plug in to a small group!
          %p
            %em "Your love for one another will prove to the world that you are my disciples." John 13:35 
      / .item.active
      /   %a{:href=>"/resources"}
      /     %img{:src=>"images/carousel/fathersday_2014.jpg"}
      /   .carousel-caption
      /     %h4 Father's Day Service
      /     %p
      /       Join us for our special Father's Day Service on June 15 @ 11 AM!
          
    / Carousel nav
    %a.carousel-control.left{ :href=>"#myCarousel","data-slide"=>"prev"} &lsaquo;
    %a.carousel-control.right{ :href=>"#myCarousel","data-slide"=>"next"} &rsaquo;
  / #carousel-indicator
  /   %ol.inline{:class=>"carousel-indicators", :style=>"background-color: #777"}
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"0", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"1", :class=>"active"} +
  /     %li{ "data-target"=>"#myCarousel", "data-slide-to"=>"2"} +
#large-unit
  #sunday-services.span-6
    %h3.pharkir
      Sunday services


    %p
      %a{:href => "/connect#worship"} <strong>Sunday Service</strong>
      11:00 AM / Church Sanctuary
    %p
      %a{:href => "/connect#children"} <strong>Children's Program</strong>

      11:00 AM / Children's Room
    /%a#new-callout.pharkir{:href => 'http://www.facebook.com/gscommunity'}
    
    %p.span1{:style=>"font-size: 1.1em; padding-right:5px; color:#7777"}
      / #0abec7; padding-right: 5px;"}
      Become a fan on facebook
    %a.span1{:href => 'http://www.facebook.com/gscommunity', :style => "padding-top: 25px;"}
      %img{:src=>"images/fb_icon.jpg"}

  #plug-in.span-11.last
    %h3.pharkir
      Plug in

    %a{:href => subsection_path(:section => "plug-ins", :subsection => "student"), :id => 'plug-in-student'} 
    %a{:href => subsection_path(:section => "plug-ins", :subsection => "young_adult"), :id => 'plug-in-young-adults'} 
    %a{:href => subsection_path(:section => "plug-ins", :subsection => "family"), :id => 'plug-in-family'} 


