#frontpage-promo
  %div{:style => 'background: #fff url(/images/promobanner_gs.jpg); height: 205px'} 

#large-unit
  #sunday-services.span-6
    %h3.pharkir
      Sunday services


    %p
      %a{:href => subsection_path(:section => "connect", :subsection => "worship_service")} <strong>English Service</strong>
      11:00 AM / Church Sanctuary
    %p
      %a{:href => subsection_path(:section => "connect", :subsection => "children's_program")} <strong>Children's Program</strong>
      11:00 AM / Children's Room

    %a#new-callout.pharkir{:href => 'http://www.facebook.com/pages/Cupertino-CA/Good-Shepherd-Christian-Community/187141722947?ref=ts&__a=9'}

  #plug-in.span-12.last
    %h3.pharkir
      Plug in

    %a{:href => '#', :id => 'plug-in-student'} 
    %a{:href => '#', :id => 'plug-in-young-adults'} 
    %a{:href => '#', :id => 'plug-in-family'} 
    %a{:href => '#', :id => 'plug-in-international'} 
