%h1 One Body
About the Speaker:
%br
%br
Our Pastor Joseph Chiu
%br
%br
%b 09/05/10 - 
1. One Body: many parts. Eph 4:11-16. How small group is a part of the Body of Christ. - 
%a{:href => '/audio/onebody/OneBody090510.mp3'} audio
%br
%br
2. One Body: worship and prayer. The beauty of corporate worship and prayer.
%br
%br
3. One Body; learn and live the Word. The importance of learning and applying God's word together.
%br
%br
4. One Body: minister to each other. Understand the ministry roles of curch leaders and workers in church.
%br
%br
5. One Body: witness together. Acts 1:7-8, 2:42-47.
%br
%br
6. One Body: conclusion. (Ben, your topic)
%br
%br
%br
.subsection-navigation
  %a{:href => subsection_path(:section => "resources", :subsection => "sermons")} Sermons
  \/
  %a{:href => subsection_path(:section => "resources", :subsection => "forms")} Forms


