%h1 Family
GSCC is dedicated to growing healthy, committed families. We provide fellowship for young parents, and desire to build a church where young adults can learn to be Godly spouses and parents.
%br
%br
Community Groups for Families - 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis

