%h1 Family
GSCC is dedicated to growing healthy, committed families. We provide fellowship for young parents, and desire to build a church where young adults can learn to be godly spouses and parents.
%br
%br
We offer various ways to help members grow. Below are events, groups, workshops, and services we have at GSCC.
%br
%br
%h4 Commmunity Groups
%br
Community groups are where married couples and families can develop real community and ongoing support. Join a married couples or a families with children group from our Community Groups page to grow in deeper relationship with others and God.
%br
%br
%h4 Couple's Time
Couple's Time is a bimonthly meeting for couples to help strengthen their marriages. Contact
%a{:href =>'mailto:krunkies@gmail.com'} Chris Tang 
for information.
%br
%br
%h4 Family Outings
Family Outing is a bimonthly activity to help families with children to spend time together. Contact
%a{:href =>'mailto:jane@gschristian.org'} Jane Chiu 
for information.
%br
%br
%h4 Workshops, Marriage/Parenting
We hold 4-7 week-long workshops for the topics of Marriage or Parenting once a year.
%br
%br
%h4 Pastoral Counseling
Pastoral Counseling is available to help couples and parents facing real challenges of marriage and parenting, whether one is in critical need or simply wants to rise to new levels of intimacy as a spouse or parent. Contact 
%a{:href =>'mailto:joseph@gschristian.org'} Joseph/Jane Chiu 
for Pastoral Counseling.
%br
%br
%h4 Dating Couples
We offer counseling and workshops for couples preparing for engagement. We recommend a couples assessment test before engagement. Contact 
%a{:href =>'mailto:joseph@gschristian.org'} Joseph/Jane Chiu 
for information.
%br


