%h1 International
Located in one of the most culturally diverse regions in the United States, GSCC serves the Chinese community with Mandarin-speaking community groups and Mandarin translation in Sunday Service.
%br
%br
Mandarin-Speaking Community Groups - 
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
\/
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
\/
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua


