%h1 Students        

GSCC has its roots are in student ministry, and we continue to focus on the young people in our community. If you are in high school or college, we desire to see you grow into healthy, mature adults; rooted in God's word and equipped to be leaders in your generation.
%br
We welcome you to check out one of our community groups where you can build relationships with other students and face the challenges of student life together.
%br
%br
Community Groups for Students - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
\/
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb

