%h1 Students        

GSCC's student ministry focuses on the young local college students in our community. If you are in college, we desire to see you grow into healthy, mature adults; rooted in God's word and equipped to be leaders in your generation.
%br
%br
We welcome you to join us on Sunday mornings for worship service and stay for fellowship afterward. Join other students after service for lunch, bible study, and group activities.
%br
%br
Contact 
%a{:href =>'mailto:zhan1@standford.edu'} Natalie Han
for more information.
%br


