%h1 Young Adult

The post-college, early-career years are a time of transition and confusion. GSCC desires to provide community for those stepping into the responsibilities of adulthood, and give young adults the opportunity to be leaders in the church.
%br
Visit one of our young adult community groups and find fellowship with others in the same life stage growing together in Christ's truth and grace.
%br
%br
Community Groups for Young Adults - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
\/
%a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
\/
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
\/
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
