:javascript
  $(function() {
  var $sgtabs = $("#groups").tabs();

  $("#galilee-link").click(function() {
  $sgtabs.tabs('select', 1);
  return false;
  });
  $("#joshua-link").click(function() {
  $sgtabs.tabs('select', 2);
  return false;
  });
  $("#canaan-link").click(function() {
  $sgtabs.tabs('select', 3);
  return false;
  });
  $("#familymen-link").click(function() {
  $sgtabs.tabs('select', 4);
  return false;
  });
  $("#familywomen-link").click(function() {
  $sgtabs.tabs('select', 5);
  return false;
  });
  });


%div{:id => "groups"}
  %ul
    %li 
      %a{:href => "#group-home"}Overview
    - ["Galilee", "Joshua", "Canaan", "FamilyMen", "FamilyWomen"].each do |g|
      %li
        %a{:href => "#"+g.dehumanize} 
          = g
  %div{:id => "group-home"}
    At GSCC one of our values is growing in community: caring for one another and holding one another accountable as we study God's word, share, pray and outreach together.
    %p
    GSCC has small groups that gather by different ages and life stages, speak different languages, in different cities, and on different days of the week. If you are looking for a community to grow with, we invite you to visit our small groups and find one that is right for you.
    %br
    %br
    %p
      %h3 By Location
      %strong Cupertino and San Jose
      %br
      %a{:href => "javascript:void(0);", :id => "galilee-link"} Galilee 
      \/ 
      %a{:href => "javascript:void(0);", :id => "canaan-link"} Canaan
      \/
      %a{:href => "javascript:void(0);", :id => "familymen-link"} Family Men
      \/
      %a{:href => "javascript:void(0);", :id => "familywomen-link"} Family Women
      %br
      %strong Fremont
      %br
      %a{:href => "javascript:void(0);", :id => "joshua-link"} Joshua

    /   %h2 By Meeting Day
    /   %strong Tuesday
    /   %a{:href => "javascript:void(0);", :id => "galilee-link"} Galilee
    /   %br
    /   %strong Thursday
    /   %a{:href => "javascript:void(0);", :id => "canaan-link"} Canaan
    /   %br
    /   %strong Friday
    /   %a{:href => "javascript:void(0);", :id => "joshua-link"} Joshua
    /   %br
    /   %strong Sunday
    /   %a{:href => "javascript:void(0);", :id => "familymen-link"} Family Men
    /   \/
    /   %a{:href => "javascript:void(0);", :id => "familywomen-link"} Family Women
    /   %br
    / %p
    /   %h2 By Age Group
    /   %strong Young Adult
    /   %a{:href => "javascript:void(0);", :id => "galilee-link"} Galilee 
    /   \/ 
    /   %a{:href => "javascript:void(0);", :id => "joshua-link"} Joshua
    /   \/ 
    /   %a{:href => "javascript:void(0);", :id => "canaan-link"} Canaan
    /   %br
    /   %strong Family
    /   %a{:href => "javascript:void(0);", :id => "familymen-link"} Family Men
    /   \/
    /   %a{:href => "javascript:void(0);", :id => "familywomen-link"} Family Women
    /   %br

  - ["Galilee", "Joshua", "Canaan", "FamilyMen", "FamilyWomen"].each do |g|
    %div{:id => g.dehumanize}
      = render "/static_page/groups/"+g.dehumanize


