= image_tag('sundayservice.jpg', :width => '500')

%p
At Good Shepherd, we believe that we are made to worship and fellowship in community. We come together on Sundays to glorify God as a community in musical worship, the sharing of testimony, and the preaching of relevant and scripture-rooted messages.

