
%div.panel.panel-default{:style => "background-color: white; border: 5px solid gray; margin: 10px; padding: 20px", :id =>"worship"}
  %div.panel-heading
    %h1
      Worship Service
  %div.panel-body{:style => "height: 500px;"}
    =image_tag('sunday service.jpg', :width => '500')
    %br
    %br
    %p
      At Good Shepherd, we believe that we are made to worship and fellowship in community. We come together on Sundays to glorify God as a community in musical worship, the sharing of testimony, and the preaching of relevant and scripture-rooted messages.

