%h1 Children's Program
.subsection-navigation
  %a{:href => subsection_path(:section => "connect", :subsection => "community_groups")} Community Groups
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "worship_service")} Worship Service
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "children's_program")} Children's Program

%p
At Good Shepherd, we value our "little ones," knowing that they will be our legacy more than anything we can physically create or leave behind. We have a rotation of loving teachers and parents who spend time creating curriculum for our toddlers and children.
%p
%strong Nursery (birth to 2 years old)
%br
Our nursery is equipped with a crib, bouncers, diaper-changing table, and carpeted play area. We want to care and play with your little one so you can be in the service. If your baby has any special needs, please just let us know.

%p
%strong Toddlers Program (2-4 years old)
%br
At an early age, we want to expose our toddlers to God's love through meaningful and age-appropriate songs, stories, art, and simple games.

%p
%strong Children's Program (4-6 years old)
%br
Our school-age children continue to learn about their Maker. In addition to the singing, stories, art and games, they are introduced to the Bible and it's structure. As the children are able, they begin to memorize short verses, create their own illustrations for stories, use dramatic play, or respond verbally, on paper, using Play-doh, and/or other media.

%p
%strong Older Children (7 and up)
%br
Currently, we do not have any children in our congregation older than 7 years old. However, please know that all of your children, no matter what age, are welcome at Good Shepherd. 
