%br
:javascript
  $(function() {
  $("#connect").tabs();
  });
%div{:id => "connect"}
  %ul
    %li 
      %a{:href => "#smallgroups"}Small Groups
    %li
      %a{:href => "#worship"}Worship Service
    %li
      %a{:href => "#children"}Children's Program

  %div{:id => "smallgroups"}
    = render "/static_page/connect/small_groups"

  %div{:id => "worship"}
    = render "/static_page/connect/worship_service"

  %div{:id => "children"}
    = render "/static_page/connect/childrens_program"