%h1 Community Groups
.subsection-navigation
  %a{:href => subsection_path(:section => "connect", :subsection => "community_groups")} Community Groups
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "worship_service")} Worship Service
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "children's_program")} Children's Program

%p
At GSCC one of our values is growing in community: caring for one another and holding one another accountable as we study God's word, share, pray and outreach together.
%p
GSCC has small groups that gather by different ages and life stages, speak different languages, in different cities, and on different days of the week. If you are looking for a community to grow with, we invite you to visit our small groups and find one that is right for you.

%p
.subsection-navigation
  %a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua

%p
%strong By Location
%br
%strong Cupertino/San Jose
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
%br
%strong Fremont/Milpitas
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
%p
%strong By Meeting Day
%br
%strong Thursday
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
%br
%strong Friday
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
%br
%strong Sunday
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch

%p
%strong By Age Group
%br
%strong Students
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
%br
%strong Young Adult
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
%br
%strong Family
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis

%p
%strong By Language
%br
%strong English
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
%br
%strong Mandarin
\ - 
%a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb 
\/ 
%a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
