%br
:javascript
  $(function() {
  $("#connect").tabs();
  });
%div{:id => "connect"}
  %ul
    %li 
      %a{:href => "#community"}Community Groups
    %li
      %a{:href => "#worship"}Worship Service
    %li
      %a{:href => "#children"}Children's Program

  %div{:id => "community"}
    = render "/static_page/connect/community_groups"

  %div{:id => "worship"}
    = render "/static_page/connect/worship_service"

  %div{:id => "children"}
    = render "/static_page/connect/childrens_program"
