%h1 Worship Service
.subsection-navigation
  %a{:href => subsection_path(:section => "connect", :subsection => "community_groups")} Community Groups
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "worship_service")} Worship Service
  \/
  %a{:href => subsection_path(:section => "connect", :subsection => "children's_program")} Children's Program
