%h1 Forms
.subsection-navigation
  %a{:href => subsection_path(:section => "resources", :subsection => "sermons")} Sermons
  \/
  %a{:href => subsection_path(:section => "resources", :subsection => "forms")} Forms

