%h1 Resources
.subsection-navigation
  %a{:href => subsection_path(:section => "resources", :subsection => "sermons")} Sermons
  \/
  %a{:href => subsection_path(:section => "resources", :subsection => "forms")} Forms

%b Sermon Series:
%br
%b 9/5/10 - 
%a{:href => subsection_path(:section => "sermons", :subsection => "one_body")} One Body
%br
%b 8/6/10 ~ 8/8/10 - 
%a{:href => subsection_path(:section => "sermons", :subsection => "the_promise")} The Promise - Inner Healing and Fruitful Living with Dr. Wendell Friest

