%h1 Sermons
.subsection-navigation
  %a{:href => subsection_path(:section => "resources", :subsection => "sermons")} Sermons
  \/
  %a{:href => subsection_path(:section => "resources", :subsection => "forms")} Forms

adding promise conference....
