<%= events_login_link %>
<h1> Events </h1>
<script>
	$(function() {
		$( "#accordion" ).accordion({ autoHeight: false });
	});
</script>
<div id="accordion">
    <h3><a href="#">Upcoming Events</a></h3>
    <div>
        <% @upcoming_events.each do |event| %>
	<%= event_list_block(event); %>
	<% end %>
    </div>
    <h3><a href="#">Past Events</a></h3>
    <div>
      <% @past_events.each do |event| %>
      <%= event_list_block(event); %>
      <% end %>
  </div>
</div>



