<!--<%= events_login_link %>-->
<h1> Events </h1>
<h2> Grace-Full Relationships: 2015 Mount Hermon GSCC Retreat</h2>
<br />
<h3> Join the Facebook Event </h3>
Join the Facebook Event page for 2015 Mount Hermon GSCC Retreat to receive the latest updates:
<a href="https://www.facebook.com/events/633103793468701/">https://www.facebook.com/events/633103793468701/</a>
<h3> How To Register </h3>
<ol>
  <li>
    Submit this Google Form for each attendant:
   <iframe src="https://docs.google.com/forms/d/19LKAOFS8Gu1YcvXwZi_lr8eHus1dGXXO9KcebWb8XHo/viewform?embedded=true" width="600" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </li>
  <br />
  <li>
      Pay for registration.
      <br />
      <br />
      If you are paying with check, please make checks payable to 'GSCC' and write 'Retreat 2015' in the note. Please mail your check or cash payment to the church address, or turn it in during church service or small groups:
      <br />
      <br />
      940 SOUTH STELLING ROAD, CUPERTINO, CA 95014
      <br />
      <br />
      INSTRUCTIONS FOR PAYPAL:
        <ol>
          <li>Pick an option and click "Add To Cart".</li>
          <li>Continue to "Add to Cart" until all attendants have been added to the cart. </li> 
          <li>Then proceed to Checkout. </li>
        </ol>
      <br />
      <br />
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="Y26LS9XEEMXDL">
        <table>
        <tr><td><input type="hidden" name="on0" value="Registration Option">Registration Option</td></tr><tr><td><select name="os0">
          <option value="Adult">Adult $165.00 USD</option>
          <option value="Youth (4-17)">Youth (4-17) $70.00 USD</option>
          <option value="Infant/Toddler">Infant/Toddler $0.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
  </li>
</ol>



