%h1 Compassion
.subsection-navigation
  %a{:href => "/serve"} Serve
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "ministries")} Ministries
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "compassion")} Compassion
%p
We participate in the Second Harvest Food Bank during the Thanksgiving season. We also volunteer for Habitat for Humanity in the Cupertino area.
%br
%br
%b Looking for a Volunteer Opportunity? 
%br
%br
We are recruiting for volunteers to serve the "Self Help for the Elderly" weekday Seniors program. We need your help if you are a volunteer willing to work as: 
%br
%ol
  %li Service and preparation volunteers of the lunch program.
  %li English teachers to the elderly.
Please contact 
%a{:href =>'mailto:jane@gschristian.org'} Jane Chiu
for more information on the 'Self Help for the Elderly' program.
