%h1 Serve
.subsection-navigation
  %a{:href => subsection_path(:section => "serve", :subsection => "worship_&_multimedia")} Worship & Multimedia
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "children")} Children
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "outreach")} Outreach

%b Looking for a Volunteer Opportunity?
%br
%br
We are recruiting for volunteers to serve the "Self Help for the Elderly" weekday Seniors program. We need your help if you are a volunteer willing to work as:
%br
%br
%ol
  %li Service and preparation volunteers of the lunch program.
  %li English teachers to the elderly.
%br
Please contact 
%a{:href =>'mailto:jane@gschristian.org'} Jane Chiu
for more information.
