%h1 Ministries
.subsection-navigation
  %a{:href => "/serve"} Serve
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "ministries")} Ministries
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "compassion")} Compassion


%h3 Administration
%p
We are looking for an office assistant to help Pastor Joseph. If you are interested, contact 
%a{:href =>'mailto:joseph@gschristian.org'} Joseph.
%br
%br
%h3 Children's Ministry
%p
GSCC is looking for Sunday School teachers. If you are interested, contact
%a{:href =>'mailto:ed4chrst@gmail.com'} Edward.
%br
If you are interested in helping with Children's worship, contact
%a{:href =>'mailto:jane@gschristian.org'} Jane.
%br
%br
%h3 Worship & Multimedia
%p
If you are interested in helping with the media team, contact
%a{:href =>'mailto:corbansog@gmail.com'} Ben.
%br
%br
%h3 Students' Ministry
%p
We are looking for Sunday afternoon bible study leaders for the Students ministry. If you are interested, contact
%a{:href =>'mailto:natalie.hanz@gmail.com'} Natalie.
%br
%br