%h1 Worship & Multimedia
.subsection-navigation
  %a{:href => subsection_path(:section => "serve", :subsection => "worship_&_multimedia")} Worship & Multimedia
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "children")} Children
  \/
  %a{:href => subsection_path(:section => "serve", :subsection => "outreach")} Outreach


