%h1 Newsletters
%br
Stay connected with us. Our newsletters highlight what God has been doing in our community!
%br
%br
%ul
  %li
    %a{:href => "GS_newsletter_July_2014.pdf", :style => "color: #9bda5e;"}July 2014 Newsletter
  %li
    %a{:href => "Fall_2014_Newsletter.pdf",  :style => "color: #9bda5e;"}Fall 2014 Newsletter


