%h1 Staff
%p
%strong Joseph Chiu | Lead Pastor
%br
joseph (at) gschristian (dot) org

%p
%strong Jane Chiu | Community Pastor
%br
jane (at) gschristian (dot) org

%p
%strong Ben Wu | Worship Coordinator
%br
ben (at) gschristian (dot) org

%p
%strong Church Counsel
%br
Sherman Chan | Chairperson
%br
Edward Lin | Treasurer
%br
Charles Lin | Outreach Ministry
%br
Don Le | Connections Ministry
%br
Betty Chan | Children's Ministry

