%h1 Staff
%p
%strong Joseph Chiu | Lead Pastor
%br
joseph (at) gschristian (dot) org

%p
%strong Jane Chiu | Community Pastor
%br
jane (at) gschristian (dot) org

%p
%strong Ben Wu | Worship Coordinator
%br
ben (at) gschristian (dot) org

%p
%strong Church Counsel
%br
Kevin Liang | Chairperson & Newcomer/Outreach
%br
Pastor Joseph | Treasurer & Christian Education & Small Groups
%br
Jane Chiu | Family
%br
Edward Lin | Children's Ministry
%br
Ben Wu | Worship & Administration
%br
Sandy Wu | Compassion Ministry
%br
Emily Wang | Lunch Ministry


