%h1 Staff
%p
%strong Joseph Chiu | Lead Pastor
%br
joseph (at) gschristian (dot) org

%p
%strong Jane Chiu | Community Pastor
%br
jane (at) gschristian (dot) org

%p
%strong Church Counsel
%br
Kevin Liang | Chair/Outreach
%br
Ben Wu | Worship
%br
Edward Lin | Children
%br
Eugene Chiang | Finance
%br
Emily Wang | Lunch
%br
Jane Chiu | Family
%br
Joseph Chiu | Small Group
%br



