%h1 About Us
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff

%p
Good Shepherd Christian Community began in 2007 as a merge between two congregations with the same vision. Overflow Christian Community had been meeting in Cupertino since 2004 and Good Shepherd Christian Church had been meeting in Fremont since 2002.

%p
In October 2006, God arranged for both churches' pastors to meet at a dinner gathering, and they started talking about their respective visions. They soon found out that God had given them a common desire to minister to young adults who were seeking a place of their own to belong. At that time, God planted in their hearts a desire to see their churches work together. Over the course of the next year, the leadership of both groups stayed in contact and began to pray about merging. 

%p
In October 2007, both churches moved into a building in Cupertino together, formed a leadership team and started to pray about a common vision. As Good Shepherd Christian Community, our desire is to reach out to those who are experiencing times of transition and learning how to live as God's people in their workplaces, their schools, their marriages and their families.

%p
We are not just individual Christians living scattered lives, but a community of people who care for one another and seek to live lives that will let those around us see Jesus. 

%p
If you're seeking a spiritual home, we welcome you to worship God with us and find a place in God's family right here.
