%h1 About Us
.subsection-navigation
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome_from_the_pastor")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff

%p
Good Shepherd Christian Community began its ministry in Fremont with a small group of students meeting in the living room of Joseph and Jane Chiu's house. As these young people continued to gather in their home, Joseph and Jane realized that there was a need for a church where this generation could worship and encounter God together, grow in intimacy and love for one another, and learn to serve each other and their communities, and so Good Shepherd was born in 2002. In 2007, we moved to our current location at 940 S Stelling Rd in Cupertino, which has given us the opportunity to expand our ministry to meet the needs of the community around us and to continue to build a church that equips young people to raise healthy families, become leaders in their communities, and worship God in Spirit and in truth!

%p
We welcome you to come join us for 
%a{:href => subsection_path('connect', 'worship_service')}Sunday Service 
or visit a 
%a{:href => section_path('connect')}Community Group
