%h1 GSCC Statement of Faith
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "what_to_expect")} What to Expect
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff

%ol 
  %li God has revealed himself to be the living and true God, perfect in love and righteous in all his ways; one in essence (Deuteronomy 6:4), existing eternally in the three persons of the Trinity: Father, Son and Holy Spirit (2 Corinthians 13:13; Matthew 28:19).  God, who discloses himself through his creation, (Rom. 1:20), and his messengers (Heb. 1:1); now reveals his glory to humanity through Jesus Christ, (Col. 1:15), the incarnate Word (John 1:1), who is made known to us by the Holy Spirit in sacred Scripture.  
  %br 

  %li Scripture is an essential part and trustworthy record of this divine self-disclosure. All the books of the Old and New Testaments, given by divine inspiration, are the written word of God, the only infallible authority for faith and practice. They are to be interpreted according to their context and purpose and in reverent obedience to the Lord who speaks through them in living power. (2 Timothy 3:16–17; John 14:26; 16:13–15)
  %br 
  
  %li Good Shepherd Christian Community affirms and roots its faith on the foundation of the Apostles' Creed, the Nicene Creed, and the Athanasian Creed as true expositions of the Christian Faith.
  %br 

  %li God, by his Word and for his glory, freely created the world out of nothing. He made man and woman in his own image, as the crown of creation, that they might have fellowship with him. Tempted by Satan, humanity rebelled against God. Being estranged from their Maker, yet responsible to him, they became subject to divine wrath, inwardly depraved, and, apart from grace, incapable of returning to God. (Gen. 1 & 2)  
  %br 

  %li The only Mediator between God and humankind is Christ Jesus our Lord, God’s eternal Son, who, being conceived by the Holy Spirit and born of the Virgin Mary (Luke 1:34, 35), fully shared and fulfilled our humanity in a life of perfect obedience (Hebrews 2:14). By his death in our stead, he revealed the divine love and upheld divine justice, removing our guilt and reconciling us to God. (Hebrews 9:22–28) Having redeemed us from sin, the third day he rose bodily from the grave, victorious over death and the powers of darkness (1 Corinthians 15:3; 20, 24–29; Romans 4:25).  He now is our High Priest and Advocate (Hebrews 7:25-26; 1 John 2:1).  
  %br 
   
  %li The Holy Spirit, through the proclamation of the gospel, renews our hearts, persuading us to repent of our sins and confess Jesus as Lord (John 16:8-11). By the same Spirit we are led to trust in divine mercy, whereby we are forgiven all our sins, justified by faith alone through the merit of Christ our Savior and granted the free gift of eternal life (John 3:5–8).  
  %br 

  %li God graciously adopts us into his family and enables us to call him Father (Eph. 1:5). As we are led by the Spirit, we grow in the knowledge of the Lord, freely keeping his commandments and endeavoring so to live in the world that all may see our good works and glorify our Father who is in heaven (Ephesians 5:1-2; 1 Peter 2:12; 2 Corinthians 9:13).
  %br 

  %li Christ is the Head (Colossians 1: 18–22) of the one holy universal and apostolic church, that is consisting of people of all cultures and in all ages, who were saved by Grace through Faith. The church is summoned by Christ to offer acceptable worship to God through both faith and deeds (James 2:17).  Our faith in Christ is authenticated by the demonstration of our participation in social justice and by relieving human distress and need (Matt. 25: 31-46).  
  %br 

  %li God’s redemptive purpose will be consummated by the return of Christ to raise the dead, (Acts 1:11) to judge all people according to their deeds (Rev. 20: 11-13) done in faith (James 2:18, 22). The wicked shall be separated from God’s presence (Revelation 20:14; 21:8, 27), but the righteous, in glorious bodies, shall live and reign with him forever (1 Corinthians 15:51–53; 1 Thessalonians 4:13–18; Revelation 21:1-7). Then shall the eager expectation (Mark 13:33–37; Revelation 22:20) of creation be fulfilled and the whole earth shall proclaim the glory of God who makes all things new.  
  %br 
