%h1 Staff
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome_from_the_pastor")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff


%p
%strong Joseph Chiu | Lead Pastor
%br
joseph (at) gschristian (dot) org

%p
%strong Jane Chiu | Community Pastor
%br
jane (at) gschristian (dot) org

%p
%strong Ben Wu | Worship Coordinator
%br
ben (at) gschristian (dot) org

%p
%strong Church Counsel
%br
Sherman Chan | Chairperson
%br
Edward Lin | Treasurer
%br
Charles Lin | Outreach Ministry
%br
Don Le | Connections Ministry
%br
Betty Chan | Children's Ministry

