%h1 Vision & Values
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "what_to_expect")} What to Expect
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff


%p
We desire to be a body of believers that lives out God's love in our church, local, and global communities.
%br 
%br

%b Connected in loving relationships
%ul 
  %li To one another in intimate community groups
  %li discipleship and leadership development
  %li In promoting healthy families

%b Creative in expressive worship
%ul 
  %li In musical and artistic expressions of worship
  %li In encouraging, developing, and uniting individual talents in worship
  %li In seeking ways to engage our generation

%b Compassionate in serving the community
%ul 
  %li In loving and serving one another in the church and those around us
  %li In providing for the spiritual, emotional, and physical needs of our community
  %li In seeking social justice locally and globally

