%h1 Welcome from the Pastor
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome_from_the_pastor")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff

%p
= image_tag('joseph.jpg', :class => :left)
Dear Friends,
%br
Allow me to extend a warm welcome to Good Shepherd Christian Community! Every generation has its own unique beauties and challenges, and at GSCC we believe God's word is a priceless resource which allows us to find joy in our uniqueness and provides wisdom to overcome difficult challenges. Because God has shown his sacrificial love and patience to all people, we strive to love each other and our neighbors with understanding and joy. As God has so committed to us, his creation, we believe that committed relationship brings ultimate reward, and encourage each other to overcome fear.  We worship our Lord Jesus Christ with all our heart because he is the reason we can clearly see ourselves as who we truly are, God's beloved sons and daughters. We embrace the power of the Holy Spirit because we know we cannot face everyday life alone. Come and let God and our community enter your world, and together we can reach out to people whose life can be transformed by the power of God and our testimonies.

%p
Pastor Joseph Chiu
