%h1 What to Expect
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "what_to_expect")} What to Expect
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values 
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff

%p
NEED CONTENT!
