%h1 Antioch
%p
= image_tag('antioch_small_group.jpg')
%br
Sunday 7:00PM
%br
Milpitas
%br
contact: 
%a{:href => 'mailto:ben@gschristian.org'} ben@gschristian.org
%br
We are students and young adults discovering God together in truth and love.
%br
%br
"Each of us needs an Antioch - one or more settings in which we can be ourselves in the company of a few other faithful people. We will be greatly blessed if we have found at least one place where it is safe to 'try on' and 'try out' the various visions to which God may be calling us - where we can hear the truth about ourselves without fear; where trusted friends can help calibrate our inner tuners to hear the voice of God; and where those same colleagues are willing and able to bless us on our way"
\~The Disciple Making Church by Glenn McDonald

