%h1 Caleb
=image_tag('caleb_small_group.jpg')
Friday, 8PM 
%br
GSCC Cupertino [940 S. Stelling Rd., Cupertino, CA]
%br
contact: 
%a{:href =>'mailto:sherri.1990@gmail.com'} sherri.1990@gmail.com
%br
We are a group of lively students with a passion for Christ. We grow together by meeting weekly to share our life experiences and study the Bible in Mandarin.
  
