%h1 Family Women
%img{:src=>'images/promobanner_gs.jpg', :height => '100'}
%br
Sunday, 12:15 PM
%br
Church Site, 970 S Stelling Rd., Cupertino, CA 95014
%br
contact:
%a{:href =>'mailto:jenlanchiu@gmail.com'} jenlanchiu@gmail.com
%br

