%h1 Galilee
= image_tag('galilee_small_group.jpg')
%br
Thursday, 7PM 
%br
San Jose
%br
contact: 
%a{:href =>'mailto:galileecupertino@gmail.com'} galileecupertino@gmail.com	
%br
Welcome to Galilee small group! Galilee is comprised of young professionals from various companies in the Bay Area. As young professionals we face a variety of challenges everyday including career challenges, dating obstacles, future uncertainties, and so on. We gather together every Thursday night to spend a couple hours to catch up, share our lives, pray for each other, and discuss the word of God together. 
