%h1 Genesis
Friday, 7PM
%br
Cupertino
%br
contact: 
%a{:href =>'mailto:kanghuachee@gmail.com'} kanghuachee@gmail.com
%br
We are a group of Mandarin speaking young adults and young families who want to bring blessing and hope for our church, and remind one another that God is the one who is in control and created everything, with family as our core fundamental value. 
