%h1 Joshua
= image_tag('joshua_small_group.jpg')
%br
Friday, 8:00PM
%br
GSCC Fremont Office [4404 Technology Dr, Fremont, CA]
%br
contact:
%a{:href =>'mailto:zacslo@hotmail.com'} zacslo@hotmail.com
%br
Welcome to Joshua group! we are a group of people who are passionate about God. we have dinner together every Friday to get to see how everyone's week has gone. we then engage in fruitful and interesting small group discussions to feed ourselves spiritually. We are bilingual in Mandarin and English, and we welcome you to join us to make our discussion even more diverse!

