%h1 Caleb
.subsection-navigation
  %a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua

