%h1 Caleb
.subsection-navigation
  %a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua

  %p
= image_tag('caleb_small_group.jpg')
  %p
  Friday, 8PM 
  %br
  GSCC Cupertino [940 S. Stelling Rd., Cupertino, CA]
  %br
  contact: 
  %a{:href =>'mailto:sherri.1990@gmail.com'} sherri.1990@gmail.com
  %br
  We are a group of lively students with a passion for Christ. We grow together by meeting weekly to share our life experiences and study the Bible in Mandarin.