%h1 Jordan
.subsection-navigation
  %a{:href => subsection_path(:section => "groups", :subsection => "antioch")} Antioch
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "caleb")} Caleb
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "galilee")} Galilee
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "genesis")} Genesis
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "joshua")} Joshua
  \/
  %a{:href => subsection_path(:section => "groups", :subsection => "jordan")
  
%p
= image_tag('jordan_small_group.jpg')
%br
Tuesday, 7:30PM
%br
San Jose
%br
contact: Charles Lin
%br
Young professionals Bible study
