%h1 Create
.subsection-navigation
  %a{:href => subsection_path(:section => "create", :subsection => "art")} Art

%p This is an interior page

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui
  ut augue faucibus accumsan. Vestibulum varius tortor nec odio varius non
  bibendum lorem fermentum. Curabitur turpis erat, elementum a tincidunt id,
  dictum et erat. Integer vehicula dictum ligula ac bibendum. Integer vel
  viverra nibh. Phasellus sed dolor ac felis convallis suscipit. Sed vel dui a
  mi tempor sodales eu sed justo. Morbi ac fringilla justo. Ut consectetur
  ultrices mi eget sagittis. Integer malesuada purus et odio molestie
  facilisis. Donec ut nisl in nulla mattis consectetur non ac nibh. Cras a
  iaculis ligula. Ut egestas dignissim ullamcorper.

%p
  Quisque tristique diam non sapien mattis condimentum. Sed ultrices, sapien nec
  convallis dictum, massa ipsum commodo metus, et fermentum enim lorem pretium
  lorem. Quisque magna magna, porttitor id porta eget, porta sit amet
  leo. Phasellus quis ipsum arcu. Suspendisse ultrices tristique libero et
  tincidunt. Pellentesque ornare accumsan elit non rutrum. Quisque aliquet, arcu
  non dictum vulputate, lacus odio euismod est, eu pellentesque ipsum sem nec
  risus. Mauris blandit vulputate ligula eu ornare. Donec facilisis dapibus
  orci, a accumsan augue viverra id. Integer et tellus lectus, in facilisis
  urna. Integer dolor dui, elementum eu semper sit amet, eleifend elementum
  massa. Fusce a viverra augue. Cras blandit elementum ullamcorper. In eleifend
  diam eget dui rhoncus et fringilla purus elementum. Ut mauris eros, euismod et
  auctor in, vestibulum non lectus. Aenean ac nibh et massa posuere eleifend.

%p
  Vivamus lectus purus, tincidunt id aliquam ac, ullamcorper nec dolor. Nulla eu
  arcu quam. Ut tristique commodo erat vitae condimentum. Ut tempor, libero quis
  ullamcorper bibendum, nibh nunc dictum urna, id ultricies turpis nulla sed
  leo. Vestibulum nisi turpis, placerat in vulputate vitae, lacinia et
  ligula. Integer arcu purus, auctor ac sodales eget, auctor eu libero. Fusce
  tristique tortor vitae nisl porttitor nec tincidunt enim congue. Cras in mi
  purus, in lobortis sem. Quisque cursus dapibus augue, sed mattis sapien
  tincidunt eu. Phasellus consectetur est vel tortor vestibulum sed molestie
  lorem accumsan. Vestibulum in libero sapien. Aenean eu quam eu purus euismod
  sagittis a nec orci. Sed molestie suscipit semper. Morbi eu quam sed odio
  molestie interdum. Sed rhoncus, justo nec tempor iaculis, diam quam molestie
  elit, sit amet vulputate urna turpis in tellus. Nullam egestas, justo eu
  vestibulum cursus, ipsum ante vulputate orci, vel porttitor quam enim sit amet
  nisl.

%p
  Nam sed enim a urna sodales egestas sed a augue. Donec dapibus orci
  felis. Vestibulum at pulvinar sapien. Duis ac libero quam. Phasellus ultricies
  aliquet tortor, vel interdum arcu congue at. Mauris quis neque nisi. Integer
  felis arcu, ultricies eu tincidunt ut, ultricies quis dolor. Etiam et quam nec
  nunc pulvinar lacinia. Morbi nec sem sed nunc dignissim dignissim. Class
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
  himenaeos. Proin euismod luctus ultricies. Nulla faucibus sagittis purus, eget
  tempor lacus tempor quis. Cras molestie, massa in posuere suscipit, tellus
  neque fringilla felis, convallis rutrum tortor sapien ac est. Aliquam molestie
  iaculis neque, id rhoncus lacus ultrices sit amet.

%p
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
  turpis egestas. Aenean dolor velit, consectetur at convallis vel, vestibulum
  nec sapien. Nam ut erat eu augue cursus condimentum vel a risus. Aliquam
  accumsan, lectus a pellentesque semper, nisi diam dictum turpis, ut malesuada
  tortor elit ut sapien. Integer rhoncus hendrerit dui. Duis malesuada arcu eget
  purus commodo tincidunt. Duis ullamcorper dictum feugiat. Donec cursus aliquam
  ante, nec elementum ipsum dapibus sit amet. Donec id ipsum enim. Aliquam
  interdum orci ac sem pretium at dapibus metus lobortis. In tempus ante
  vulputate felis porttitor pretium. Nam eget nibh ligula, sit amet fermentum
  turpis. Vivamus ac nunc tellus. Quisque pellentesque ultrices eros, ac congue
  arcu commodo sed. Donec malesuada ligula eget nisl sagittis et laoreet tortor
  consequat.
